.form-main {
  width: 100%;
  height: auto;
  left: 0px;
  top: 0px;

  /* blue */

  background: #ffd301;
  /* drop-shadow-01 */

  box-shadow: 0px 30px 64px 10px rgba(47, 47, 47, 0.1);
  display: flex;
  justify-content: center;
  padding-bottom: 10%;
}
.form-content {
  width: 74%;
  margin-top: 7%;
}
.form-box1 {
  position: relative;
  width: 100%;
  height: auto;
  background-color: #ffffff;
  border-radius: 60px;
  z-index: 3;
  justify-content: center;
  display: flex;
  padding-bottom: 5%;
}
.form-box2 {
  position: absolute;
  width: 64%;
  height: 500px;
  background-color: #5939c6;
  border-radius: 60px;
  z-index: 2;
  margin-left: 5%;
  margin-top: -465px;
}
.form-box3 {
  height: 500px;
  background-color: #5939c6;
  opacity: 0.7;
  border-radius: 60px;
  margin-left: 12%;
  position: absolute;
  width: 50%;
  z-index: 1;
  margin-top: -435px;
}
.detail-form-content {
  width: 70%;
  display: flex;
  justify-content: center;
  height: auto;
}
.detail-form-content form {
  width: 100%;
}
.box-left {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  padding-right: 5px;
}
.box-right {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
  padding-left: 5px;
}
.donate-title-form {
  margin-top: 10%;
  font-weight: 600;
  font-size: 4.5vh;
  /* line-height: 130%; */
  color: #5939c6;
}
.form-control {
  border-radius: 50px !important;
  margin: 12px 3px;
  height: 75px;
  width: 100%;
  font-size: 2.4vh;
}
.form-group {
  margin-top: 6%;
  margin-left: 3%;
  margin-right: 3%;
}
.form-group .sub-label {
  font-weight: 400;
  font-size: 2.4vh;
  color: #2f2f2f;
}
.imgactive {
  border: solid 3px;
  border-color: #5939c6;
  border-radius: 43px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  transition-delay: 0s;
  opacity: 0.9;
  transition-property: opacity height padding border;
  transition-duration: 100ms;

  /* width: 98%; */
}
.img-btn {
  cursor: pointer;
}
.imgRadio {
  width: 95%;
  display: flex;
  justify-content: center;
}
.imgRadio div {
  float: left;
  width: 50%;
  display: flex;
  justify-content: center;
}
.formRadio {
  width: 100%;
  display: flex;
  justify-content: center;
}
.row {
  margin-right: -15px;
  margin-left: 0px !important;
  --bs-gutter-x: 0rem !important;
}
.group-label {
  font-weight: 600;
  font-size: 2.4vh;
  color: #2f2f2f;
}
.form-check {
  font-size: 2.3vh;
  padding-left: 0 !important;
  margin-left: 3% !important;
  margin-top: 6%;
}
.form-check-input:checked {
  background-color: #5939c6 !important;
  border-color: #5939c6 !important;
}
.form-check-label {
  margin-left: 3%;
  font-weight: 600 !important;
  font-size: 2.4vh !important;
  color: #2f2f2f !important;
}
.form-check .form-check-input {
  float: left;
  margin-left: 0px !important;
}
input[type="checkbox"] {
  margin-top: 0.5rem !important;
}
.btn-donate {
  background-color: #5939c6;
  color: #ffffff;
  height: 80px;
  border-radius: 60px;
  width: 100%;
  font-weight: 500;
  font-size: 2.4vh;
}
@media (max-width: 992px) {
  .box-left {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-right: 0px;
  }
  .box-right {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 0pc;
  }
}
@media (max-width: 768px) {
  .form-content {
    width: 95%;
    padding-bottom: 100px;
  }
  .box-left {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-right: 0px;
  }
  .box-right {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding-left: 0pc;
  }
  .donate-title-form {
    margin-top: 10%;
    font-weight: 600;
    font-size: 3.1vh;
    /* line-height: 130%; */
    color: #5939c6;
    margin-left: 5%;
    margin-right: 5%;
  }
  .row {
    margin-left: -15px !important;
  }
  .form-box1 {
    height: auto;
    border-radius: 30px;
  }
  .form-box2 {
    width: 85%;
    border-radius: 30px;
  }
  .form-box3 {
    width: 71%;
    border-radius: 30px;
  }
  .form-main {
    height: auto;
  }
  .btn-donate {
    background-color: #5939c6;
    color: #ffffff;
    height: 8vh;
    border-radius: 60px;
    width: 100%;
    font-weight: 500;
    font-size: 2.4vh;
  }
}
